# Ignorar el archivo de entorno
.env

# Ignorar la carpeta del entorno virtual
dependencias/
# ignorar la carpeta facturas
facturas/
# Ignorar archivos generados por el sistema operativo
__pycache__/
*.pyc

# Ignorar configuraciones de IDEs
*.vscode/
.idea/
